<configuration>
	<!-- ===================================================================== -->
	<!-- Logback configuration for JUnit -->
	<!-- http://logback.qos.ch/manual/configuration.html -->
	<!-- ===================================================================== -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%15.15t] %-5p [%c] %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache" level="WARN" />
	<logger name="org.dmonix" level="DEBUG" />
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>